$lightCyan: #d6eaf8;
$darkGray: #7b7d7d;
$skyBlue: #5dade2;
$lightGray: #f7f7f7;
$midnigthBlue: #34495e;

@mixin button-styles {
    display: inline-block;
    padding: 0.5em 1em;
    &.medium{
        padding: 1em 1.5em;
    }
    &.large{
        padding: 1.5em 2.5em;
    }
    &.rounded{
        border-radius: 10px;
    }
    &.outline{
        border:2px solid;
        border-color: currentColor;
        background-color: transparent;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: #263238;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

button {
    color: #263238;
    border: none;
    cursor: pointer;
    @include button-styles()
}

a {
    color: #263238;
    text-decoration: none;
    &.button-look{
        text-align: center;
        @include button-styles();
    }
}

