* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: #263238;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

button {
    color: #263238;
    border: none;
    cursor: pointer;
    @include button-styles()
}

a {
    color: #263238;
    text-decoration: none;
    &.button-look{
        text-align: center;
        @include button-styles();
    }
}

