* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: $c_100_dark;
    background-color: $w;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

button {
    color: #263238;
    border: none;
    cursor: pointer;
    @include button-styles()
}

a {
    color: $c_100_dark;
    text-decoration: none;
    &.button-look{
        text-align: center;
        @include button-styles();
    }
    &.highlight{
        color: $v_100;
        &:hover{
            text-decoration: underline;
        }
    }
}

input {
    width: 100%;
    min-height: 40px;
    padding-left: 1em;
    display: inline-block;
    box-sizing: border-box;
    background-color: $w;
    &.auth{
        border: none;
        outline: none;
        border-bottom: 1px solid $v_75;
        &:focus{
            border-bottom-width: 2px;
        }
    }
}

label {
    padding: 2px 10px;
    font-weight: 600;
    border-radius: 5px;
    color: $c_75;
    background-color: $c_2;
}