// Primary colors
$c_100_dark: #2D2D2D;
$c_100: #414141;
$c_75: #707070;
$c_50: #9F9F9F;
$c_25: #CECECE;
$c_10: #EAEAEA;
$c_2: #FAFAFA;

$v_100_dark: #493694;
$v_100: #694ED6;
$v_75: #8F7BE1;
$v_50: #B4A6EA;
$v_25: #D9D3F5;

$f_100_dark: #862670;
$f_100: #C137A2;
$f_75: #D069B9;
$f_50: #DF9AD0;
$f_25: #EFCCE7;

$w: #FFFFFF;

//Secondary colors
$r_100: #E40046;
$r_75: #EA3F74;
$r_50: #F17FA2;
$r_25: #F8BDCF;

$o_100: #FF8A3D;

$y_100: #F0B323;

$l_100: #D2D755;

$g_100: #56C271;

$b_100: #5BC1D7;

$vertical_gradient: linear-gradient(to bottom, #8F7BE1, #D069B9 70%, #EA3F74 90%, #F8BDCF 100%);
$horizontal_gradient: linear-gradient(to right, #694ED6, #C137A2 70%, #E95247 90%, #E42D1A 100%);