
div#root {
    height: 100%;
}

.primary-1 {
    background-color: $c_100;
}

.primary-2 {
    color: $w;
    background-color: $v_100;
}

.primary-3 {
    color: $w;
    background-color: $f_100;
}

.error-fg {
    color: $r_100;
}

.error-bg {
    background-color: $r_100;
    &:hover {
        box-shadow: 0 0 1px $r_100;
    }
}

.warning-fg {
    color: $y_100;
}

.warning-bg {
    background-color: $y_100;
    &:hover {
        box-shadow: 0 0 1px $y_100;
    }
}

.success-fg {
    color: $g_100;
}

.scuccess-bg {
    background-color: $g_100;
    &:hover {
        box-shadow: 0 0 1px $g_100;
    }
}

.neo-bank-react-icons {
    cursor: pointer;
    line-height: 1.5;
}

.small-text {
    font-size: 0.8em;
}