@keyframes outline_button_hover {
    0% { 
        background-image: linear-gradient(to right, $v_100 10%, transparent 100%);
        border-color: $v_100_dark;
    }
    25% { 
        background-image: linear-gradient(to right, $v_100 40%, transparent 100%);
        border-color: $v_100_dark;
    }
    50% { 
        background-image: linear-gradient(to right, $v_100 60%, transparent 100%);
        border-color: $v_100_dark;
    }
    75% { 
        background-image: linear-gradient(to right, $v_100 80%, transparent 100%);
        border-color: $v_100_dark;
    }
    100% { 
        background-image: linear-gradient(to right, $v_100 100%, transparent 100%);
        border-color: $v_100_dark;
    }
}

@mixin button-styles {
    display: inline-block;
    padding: 0.5em 1em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    &.medium {
        padding: 1em 1.5em;
    }
    &.large {
        padding: 1.5em 2.5em;
    }
    &.rounded {
        border-radius: 6px;
    }
    &.transparent{
        background-color: transparent;
    }
    &.outline {
        &.primary {
            color: $v_100_dark;
            &:hover {
                color: $w;
                border-color: $v_100;
                background-image: linear-gradient(to right, $v_100 100%, transparent 100%);
                animation:  outline_button_hover 200ms linear;
            }
        }
        border:2px solid;
        border-color: currentColor;
        background-color: transparent;
    }
    &.filled{
        &.primary{
            background-color: $v_100_dark;
            color: $w;
            transition: background-color 100;
            &:hover{
                background-color: $v_100;
                box-shadow: 0px 0px 2px $v_100;
            }
        }
    }
    &:focus{
        outline:none;
    }
}