$lightCyan: #d6eaf8;
$darkGray: #7b7d7d;
$skyBlue: #5dade2;
$lightGray: #f7f7f7;
$midnigthBlue: #34495e;
$black: hsl(212, 29%, 13%);

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body, div#root{
  height: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
  color:$black;
}